.gameArea {
    display: flex;
    justify-content: space-evenly;
    padding: 10;
}

h3 {
    text-align: center;
}

.unselectedSection,
.selectedSection {
    border-style: dotted;
    border-radius: 7px;
    width: 300px;
    height: 500px;
}

.widget {
    background-color: rgb(159, 159, 219);
    padding: 5px;
    border-radius: 7px;
    text-align: center;
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
    border: 2px rgb(56, 0, 130) solid;
}

.widgets {
    flex-direction: column;
    justify-content: center;
    margin: auto;

}

.submitButton, .resetButton {
    background-color: rgb(185, 203, 163);
    padding: 5px;
    width: 200px;
    height: 50px;
    font-size: large;
    border-radius: 7px;
    margin-bottom: 20px;
}

.submitSection {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.modal, .overlay {
    width: 100vw;
    height: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

/* .overlay {
    background-color: rgb(151, 151, 151);
} */

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.modalContent {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    height: 140px;
    border: black solid;
    text-align: center;
}