@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Quicksand:wght@300&display=swap');


body {
  background-color: rgb(250, 221, 221);
  font-family: 'Quicksand', sans-serif;
}

.banner {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner > h1 {
  font-size: 45px;
}

#tagline {
  font-style: italic;
}

h1,h2 {
  text-align: center;
}

.subNavBar {
  text-align: center;
}

nav {
  display: inline-flex;
}

nav>.navLink {
  padding: 15px;
  margin-right: 10px;
}

div {
  margin: 10px;
}

.handImage {
  max-width: 250px;
}

