.Tabs {
    padding: 10px;
    /* background-color: rgb(32, 37, 47); */
}

.Tabs .tab {
    padding: 10px 20px;
    display: inline-block;
    background-color: rgb(117, 209, 240);
    margin-right: 50px;
}

.Tabs .tabcontent {
    padding: 10px;
}

.Tabs .tab.selected {
    font-weight: bold;
    background-color: white;
}